:root {
  --geist-font-family: "Geist", sans-serif;

  color-scheme: light dark;

  --light-background-500: #fffbfa;
  --light-text-500: #232c33;
  --light-primary-500: #0047ba;
  --light-primary-50: #e6edf8;
  --light-secondary-500: #6aaae4;
  --light-accent-500: #65baaf;
  --light-accent-300: #98d1c9;

  --dark-background-500: #232c33;
  --dark-text-500: #fffbfa;
  --dark-primary-500: #0047ba;
  --dark-primary-50: #e6edf8;
  --dark-secondary-500: #6aaae4;
  --dark-accent-500: #65baaf;
  --dark-accent-300: #98d1c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--geist-font-family);
  background-color: light-dark(
    var(--light-background-500),
    var(--dark-background-500)
  );
  color: light-dark(var(--light-text-500), var(--dark-text-500));
  margin: 0;
  padding: 0;
}
