.projects__header {
  background: url(../../img/posters/DerrenBrown.webp) no-repeat;
  background-position: center 70%;
  background-size: cover;
}

.project-detail__intro__image {
  width: 100%;
  max-width: 80rem;
  height: auto;
  object-fit: contain;
}

.project-detail__images__image--large {
  height: 80vh;
}
