.projects__header {
  background: url(../../img/safeSpace/header.png) no-repeat;
  background-position: center 30%;
  background-size: cover;
}

.project-detail__intro__image-container {
  background: url(../../img/safeSpace/introBackground.png) no-repeat;
  background-position: center;
  background-size: cover;
}
